body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    /* height: 635px;
    background-size: cover; */
    background-image: linear-gradient(to bottom right, blue,red);
}
.pink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 350px;
    background-color: #d664c7;
}
.white{
    width: 340px;
    height: auto;
    background-color: #fffef2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center;
    text-align: center; */
}
h3{
    color: #8077f4;
}
input{
    width: 15rem;
}
button{
    background-color: #8077f4;
    width: 15rem;
    color: #fffef2;
}